/* 	Notifications */

.notify {
	color: $alert;
}
.notify-positive {
	color: $positive;
}
.notify-negative {
	color: $negative;
}


/* 	Alerts */
.alert {
	clear: both;
	display: block;
	padding: $padding-default;
	color: $color02;
	background-color: $alert;
	border: 1px solid darken($alert, 10%);
}
.alert-positive {
	@extend .alert;
	background-color: $positive;
	border-color: darken($positive, 10%);
}
.alert-negative {
	@extend .alert;
	background-color: $negative;
	border-color: darken($negative, 10%);
}