/*	Notifications */
.notify {
	color: darken($alert, 30%);
}
.notify-warning {
	color: darken($warning, 30%);
}
.notify-positive {
	color: darken($positive, 30%);
}
.notify-negative { 
	color: darken($negative, 30%);
}

/*	Alerts */
.alert {
	clear: both;
	display: block;
	padding: $padding-default;
	color: $color02;
	background-color: $alert;
	border-radius: $radius;
	border: 1px solid darken($alert, 10%);

	a {
		color: $color02;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
.alert-warning {
	@extend .alert;
	background-color: $warning;
	border-color: darken($warning, 10%);	
}
.alert-positive {
	@extend .alert;
	background-color: $positive;
	border-color: darken($positive, 10%);
}
.alert-negative {
	@extend .alert;
	background-color: $negative;
	border-color: darken($negative, 10%);
}